<%= link_to article_path(article) do %>
  <div id="<%= dom_id article %>" class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 flex-col my-2">
    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-s-lg" src="https://burst.shopifycdn.com/photos/business-meeting-over-coffee.jpg?width=1000&format=pjpg&exif=0&iptc=0" alt="">
      
    <div class='flex flex-col justify-between p-4 leading-normal'>
      <h3 class="mb-2 text-xl font-bold tracking-tight text-gray-900">
        <%= article.title %>
        
      </h3>
      <h4 class="mb-2 text-sm font-bold tracking-tight text-gray-900">
        <%= article.publisher %>
      </h4>
      <h6 class="mb-3 font-normal text-xm text-gray-700">
        <strong>Published at:</strong>
        <%= article.published_year %>
      </h6>
    </div>
  </div>
<% end %>
